html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-image: $background;
    background-attachment: fixed;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
