@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

$font-family: "Aladin", cursive;
$font-size: 1.2rem;
$line-height: 1.6;
$background: linear-gradient(#619cbc, #ffc6cd);
$primary-color: #333;
$link-color: #38b6f1;
$text-color: #ddd;
$button-color: #80ff00;
$button-text-color: #333;
$button-border: 2px solid #38b6f1;
